<table class="table table-hover table-dark">        
        <thead>
          <tr>
            {% for key in keys %}
              <th scope="col">{{ key}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for values_list in values %}
          <tr>            
              {% for value in values_list %}
                <th scope="row">{{ value }}</th>
              {% endfor %}            
          </tr>
          {% endfor %}
        </tbody>
</table>