
<html>

<title>{% block title %}home{% endblock%}</title>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
</head>

<body>
{% block body %}
    <div class="container">
        <div class="row">
          <div class="span6">
          <div class="col-xs-12 col-sm-10 col-md-7 col-lg-5">
      
            <form class="form-vertical" role="form" action="{% url 'recommend' %}" method="GET">
            <br>
              <fieldset>
                <legend><strong><h3 class="text-center">RAMEY RECOMMENDATION SYSTEM</h3></strong></legend>
                <br>
                <div class="form-group">
                  <label for="input-text" class="control-label">Years Of Experience On Related Field</label>
                  <input type="number" min="0" max="15" step="1" name="Experience" class="form-control">
                </div>
                <div class="form-group">
                  <label class="control-label">Age</label>
                  <input type="number" name="age" min="15" max="80" step="1" class="form-control">
                </div><br>
                <div class="form-group">
                  <label for="input-select" class="control-label">Education Qualification</label>
                <select name="qualification" class="form-control">
                    <option selected disabled>Donot Specify</option>
                    <option value="1">+2</option>
                    <option value="2">Bachelor</option>
                    <option value="3">Master</option>
                </select>
                </div><br>
                <div class="form-group">
                    <label for="input-select" class="control-label">Level</label>
                  <select name="level" class="form-control">
                    <option selected disabled>Donot Specify</option>
                      <option value="1">Entry Level</option>
                      <option value="2">Mid Level</option>
                      <option value="3">Top Level</option>      
                  </select>
                </div>
                <br>
                <div class="form-group">
                  <label for="input-select" class="control-label">category</label>
                <select name="category" class="form-control" id="category" >
                  <option value="it" selected>Information Technology</option>
                  <option value="management">Management</option>   
                </select>
                <br>
              <div id="skills">
                <div class="form-group" id="it">
                  <label for="job" class="control-label">Skills</label>
                  <div class="radio">
                    <label>
                      <input type="radio" name="php" value="1"/>
                      <span>PHP</span>
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="python" value="1" />
                      <span>Python</span>
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="qa" value="1" />
                      <span>Quality Assurance</span>
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="js" value="1" />
                      <span>Javascript</span>
                    </label>
                  </div>
                </div>
                <div class="form-group" id="management">
                  <label for="job" class="control-label">Skills</label>
                  <div class="radio">
                    <label>
                      <input type="radio" name="hr" value="1"/>
                      <span>Human Resource Manger</span>
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="de" value="1"/>
                      <span>Data Entry</span>
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="accountant" value="1"/>
                      <span>Accountant</span>
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="consultant" value="1"/>
                      <span>Consultant</span>
                    </label>
                  </div>
                </div><br>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary" id="btn-submit">Submit Data</button>
                </div>
              </fieldset>      
            </form>
          </div>
        </div>
        <div class="span6">
            {% load custom_tags  %}      
            <p id="tag"></p>
        </div>
        </div>
      </div>
{% endblock %}
</body>

<style>

</style>

<script>
      $(document).on('dblclick',':radio',function(){
    if(this.checked){
        $(this).prop('checked', false);
    }
  });

        $(document).on('click','#btn-submit',function(){
    if(this.checked){
        $(this).prop('checked', false);
    }
  });

$(document).ready(function(){

  $('#management').hide()

  $('#category').change(function(e){
      $(":radio").prop('checked', false)
      $('#it').hide()
      $('#management').hide()
      $('#'+ $('#category').val()).show();
  });
});

</script>
</html>